@model UserViewModel

@{
	ViewData["Title"] = "Kullanıcı Oluştur";
}
<div class="row mb-4">
	<div class="col">
		<h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
	</div>
</div>
<div class="row">
	<div class="col-4">
		<div class="text-danger small text-center" asp-validation-summary="ModelOnly"></div>

		<form method="post" asp-action="Create">
			<div class="form-group mb-3">
				<label asp-for="FullName" class="font-weight-bold small"></label>
				<input asp-for="FullName" class="form-control" placeholder="@NameData.GetFullName()">
				<span asp-validation-for="FullName" class="text-danger small"></span>

			</div>
			<div class="form-group mb-3">
				<label asp-for="Username" class="font-weight-bold small"></label>
				<input asp-for="Username" class="form-control" placeholder="@NameData.GetTitleName()">
				<span asp-validation-for="Username" class="text-danger small"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="Email" class="font-weight-bold small"></label>
				<input asp-for="Email" class="form-control" placeholder="@NetworkData.GetEmail()">
				<span asp-validation-for="Email" class="text-danger small"></span>

			</div>
			<div class="form-group mb-3">
				<label asp-for="Password" class="font-weight-bold small"></label>
				<input asp-for="Password" type="password" class="form-control" placeholder="@TextData.GetNumeric(6)">
				<span asp-validation-for="Password" class="text-danger small"></span>

			</div>
			<div class="form-group mb-3">
				<label asp-for="RePassword" class="font-weight-bold small"></label>
				<input asp-for="RePassword" type="password" class="form-control" placeholder="@TextData.GetNumeric(6)">
				<span asp-validation-for="Password" class="text-danger small"></span>

			</div>
			<div class="form-group form-check">
				<input class="form-check-input" asp-for="IsActive" />
				<label class="form-check-label" asp-for="IsActive"></label>
			</div>
			<div class="form-group form-check">
				<input class="form-check-input" asp-for="IsAdmin" />
				<label class="form-check-label" asp-for="IsAdmin"></label>
			</div>


			<div>
				<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Oluştur</button>
				<a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left"></i> Listeye Dön </a>
			</div>
		</form>
	</div>
</div>