@model Note

@{
	ViewData["Title"] = "Yazı Detay";
}
<div class="row mb-4">
	<div class="col">
		<h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<dl class="row">
			<dt class="col-4">@Html.DisplayNameFor(m => m.Category.Name)</dt>
			<dd class="col-8">@Model.Category.Name</dd>

			<dt class="col-4">@Html.DisplayNameFor(m => m.Title)</dt>
			<dd class="col-8">@Model.Title</dd>

			<dt class="col-4">@Html.DisplayNameFor(m => m.Summary)</dt>
			<dd class="col-8">@Model.Summary</dd>

			<dt class="col-4">@Html.DisplayNameFor(m => m.IsDraft)</dt>
			<dd class="col-8">
				<i class="fa fa-@(Model.IsDraft ? "check text-success" : "times text-danger")"></i>
			</dd>

			<dt class="col-4">Beğeni Adedi</dt>
			<dd class="col-8">@Model.Likes.Count</dd>

			<dt class="col-4">Yorum Adedi</dt>
			<dd class="col-8">@Model.Comments.Count</dd>
	
			<dt class="col-4">@Html.DisplayNameFor(m => m.CreatedUser)</dt>
			<dd class="col-8">@Model.CreatedUser</dd>

			<dt class="col-4">@Html.DisplayNameFor(m => m.CreatedAt)</dt>
			<dd class="col-8">@Model.CreatedAt</dd>

			<dt class="col-4">@Html.DisplayNameFor(m => m.ModifiedUser)</dt>
			<dd class="col-8">@Model.ModifiedUser</dd>

			<dt class="col-4">@Html.DisplayNameFor(m => m.ModifiedAt)</dt>
			<dd class="col-8">@Model.ModifiedAt</dd>
		
			<dt class="col-4">@Html.DisplayNameFor(m => m.Detail)</dt>
			<dd class="col-8">@Model.Detail</dd>
		</dl>
	</div>
</div>

<div class="row">
	<div class="col">
		<a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-edit"></i> Düzenle</a>
		<a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left"></i> Listeye Dön </a>
	</div>
</div> 