@model NoteViewModel

@{
    ViewData["Title"] = "Yazı Güncelle";
}
<div class="row mb-4">
    <div class="col">
        <h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
    </div>
</div>
<div class="row"> 
    <div class="col-4">
				<div class="text-danger small text-center" asp-validation-summary="ModelOnly"></div>
        	<form method="post">
			<div class="form-group mb-3">
				<label asp-for="CategoryId" class="font-weight-bold small">Kategori</label>
				<select asp-for="CategoryId" id="Category" class="form-control" 
				asp-items="@((List<SelectListItem>)ViewData["categories"])">
					<option selected>Seçiniz</option>
					
				</select>
			</div>
			<div class="form-group mb-3">
				<label asp-for="Title" class="font-weight-bold small"></label>
				<input asp-for="Title" class="form-control" placeholder="@TextData.GetSentence()">
			</div>
			<div class="form-group mb-3">
				<label asp-for="Summary" class="font-weight-bold small"></label>
				<textarea asp-for="Summary" cols="2" class="form-control" placeholder="@TextData.GetSentences(2)"></textarea>
			</div>
			<div class="form-group mb-3">
				<label asp-for="Detail" class="font-weight-bold small"></label>
				<textarea asp-for="Detail" rows="6" class="form-control" placeholder="@TextData.GetSentences(6)"></textarea>
			</div>
			<div class="form-group form-check">
				<input asp-for="IsDraft" class="form-check-input" />
				<label class="form-check-label" asp-for="IsDraft"> </label>
			</div>
			
			<div>
			<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Kaydet</button>
			<a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left"></i> Listeye Dön </a>
			</div>
		</form>
    </div>
</div>