@model IEnumerable<Note>


@{
	ViewData["Title"] = "Beğendiklerim";
}

<div class="row mb-4">
	<div class="col">
		<h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
	</div>
</div>


<div class="row mb-4">
	<div class="col table-responsive">
		<table class="table table-hover table-striped table-sm small">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(m=>m.Category.Name)</th>
					<th>@Html.DisplayNameFor(m=>m.Title)</th>
					<th class="text-center">Beğeni Adet</th>
					<th class="text-center">Yorum Adet</th>					
					<th></th>
				</tr>
			</thead>
			<tbody>
			@if (Model == null || Model.Count() == 0)
				{
					<tr>
						<td colspan="7" class="text-center">
							<div>Herhangi bir veri bulunamadı.</div>
						</td>
					</tr>
				}
				else
				{
					@foreach (Note note in Model)
					{
						<tr>
							<td>@note.Category.Name</td>
							<td>@note.Title</td>
							<td class="text-center">@note.Likes.Count</td>
							<td class="text-center">@note.Comments.Count</td>		
							<td class="text-center">
							<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_notecomments"><i class="fa fa-comments"></i></button>
							<button data-toggle="modal" data-target="#modal_notedetail" class="btn btn-secondary btn-sm"><i class="fa fa-info-circle"></i></button>
						</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="modal_notecomments" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="">Yorumlar</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="media">
					<img src="https://picsum.photos/id/1005/64" class="mr-3" alt= ="..." />
					<div class="media-body">
						<h5 class="mt-0">Bunyamingoksu</h5>
						<p>
							askjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdfaskjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdfaskjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdf
							askjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdfaskjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdfaskjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdf
							askjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdfaskjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdfaskjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdf
						</p>
						<div class="small text-end text-muted"><i class="fa fa-clock"></i> 24.06.2022 17:56</div>
					</div>
				</div>
				<div class="media">
					<img src="https://picsum.photos/id/1005/64" class="mr-3" alt= ="..." />
					<div class="media-body">
						<h5 class="mt-0">Bunyamingoksu</h5>
						<p>
							askjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdfaskjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdfaskjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdf
							askjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdfaskjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdfaskjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdf
							askjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdfaskjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdfaskjhksajfdkhjasdfkhjaskhfjasjkhfkhjasdf
						</p>
						<div class="small text-end text-muted"><i class="fa fa-clock"></i> 24.06.2022 17:56</div>
					</div>
				</div>
				<div class="media mt-4">
					<div class="media-body">
						<form method="post">
							<div class="input-group">
								<textarea rows="2" class="form-control" placeholder="Yorumunuz"></textarea>
								<button class="btn btn-primary" type="submit"><i class="fa fa-send "></i> Gönder</button>
							</div>

						</form>
					</div>
				</div>



			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal_notedetail" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Yazı İçeriği</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
					when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</p>
				<p>
					<div class="text-muted small">
						<div class="text-end"><i class="fa fa-user"></i> Bünyamingöksu</div>
						<div class="text-end"><i class="fa fa-clock"></i> 19.06.2022 01.25</div>
					</div>

				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
			</div>
		</div>
	</div>
</div>